<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Suite" parallel="tests" thread-count="1">

	<!--<test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>-->

	<test name="FirefoxTests">
		<parameter name="env" value="production" />
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="runner.TestRunner" />
		</classes>
	</test>

	<!-- <test name="IETets">
        <parameter name="browser" value="IE"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>-->
</suite>
